/* general */

:root {
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --yellow-500: #eab308;
  --cyan-950: #083344;
  --blue-950: #172554;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-925: #262364;
  --indigo-950: #1e1b4b;
  --indigo-975: #18163c;
  /* --indigo-975: #161437; */
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --font-stack: "Dongle", "Helvetica", "Arial", sans-serif;
  font-family: var(--font-stack);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  position: relative;
  place-content: center;
  background-color: var(--indigo-950);
  height: 100%;
}

/* header */

/* gameboard */

#gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: min(1rem, 3vw);
  height: min(26rem, 80vw);
  width: min(26rem, 80vw);
}

.cell {
  display: grid;
  background-color: var(--indigo-975);
  border-radius: min(24px, 4.6vw);
  box-shadow: inset 0 0 min(15px, 3.5vw) rgba(0,0,0,0.7);
  font-size: 9rem;
}

.cell > svg {
  filter: drop-shadow(0 0 min(5px, 1.2vw) rgba(0,0,0,0.7));
  height: 70%;
  width: 70%;
  place-self: center;
}

.x {
  fill: var(--violet-500);
}

.o {
  fill: var(--amber-500);
}

/* game over banner */

#game-over {
  position: fixed;
  background-color: var(--indigo-925);
  box-shadow:
    0 0 0 100vh rgba(0,0,0,0.3),
    0 0 min(15px, 3.5vw) rgba(0,0,0,0.7);
  height: 40%;
  width: 100%;
  top: 30%;
  display: grid;
}

#game-over.hidden {
  display: none;
}