/* general */

:root {
  --amber-100: #fef3c7;
  --amber-200: #fde68a;
  --amber-300: #fcd34d;
  --amber-400: #fbbf24;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --amber-700: #b45309;
  --amber-800: #92400e;
  --amber-900: #78350f;
  --amber-950: #451a03;
  --yellow-500: #eab308;
  --cyan-950: #083344;
  --blue-950: #172554;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-925: #262364;
  --indigo-950: #1e1b4b;
  --indigo-975: #18163c;
  /* --indigo-975: #161437; */
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --font-stack: "Fredoka", "Helvetica", "Arial", sans-serif;
  --gap-050: 0.2rem;
  --gap-100: 0.4rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-350: 1.4rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --gap-600: 2.4rem;
  --gap-700: 2.8rem;
  --gap-1000: 4rem;
  font-family: var(--font-stack);
  letter-spacing: calc(0.01rem + 0.1vw);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all .1s ease-in-out;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  position: relative;
  place-content: center;
  background-color: var(--indigo-950);
  height: 100%;
}

button, input[type="text"] {
  appearance: none;
  border: none;
  border-radius: 12px;
  color: var(--indigo-950);
  /* min(12px, 2.3vw); */
  font-family: var(--font-stack);
}

button {
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
  cursor: pointer;
  font-size: 1.4rem;
  padding: var(--gap-300) var(--gap-400);
}

input[type="text"] {
  font-size: 1.8rem;
  padding: var(--gap-200) var(--gap-300);
}

h1, h2, h4 {
  line-height: 100%;
}

h2 {
  color: var(--amber-400);
  font-size: 3.6rem;
  font-weight: 600;
}

h3 {
  color: var(--amber-400);
  font-size: 2.4rem;
  font-weight: 600;
}

h4 {
  color: var(--indigo-400);
  font-size: 1.8rem;
  font-weight: 500;
}

.hidden,
#game-over.hidden,
#setup .hidden {
  display: none;
}


/* header */


/* gameboard */

#gameboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: min(1rem, 3vw);
  height: min(26rem, 80vw);
  width: min(26rem, 80vw);
}

.cell {
  display: grid;
  background-color: var(--indigo-975);
  border-radius: min(24px, 4.6vw);
  box-shadow: inset 0 0 min(15px, 3.5vw) rgba(0,0,0,0.7);
  font-size: 9rem;
}

.active > .cell {
  cursor: pointer;
}

.cell > svg {
  filter: drop-shadow(0 0 min(5px, 1.2vw) rgba(0,0,0,0.7));
  height: 70%;
  width: 70%;
  place-self: center;
}

.x {
  fill: var(--violet-500);
}

.o {
  fill: var(--amber-500);
}

/* setup */

#setup {
  background-color: var(--indigo-950);
  display: flex;
  flex-direction: column;
  gap: var(--gap-1000);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.setup1,
.setup2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-250);
}

#setup > div > div {
  display: flex;
  gap: var(--gap-250);
}

.setup2 > div {
  margin-top: var(--gap-200);
}

#setup input[type="text"],
#setup button {
  border-radius: 12px;
}

#setup input[type="text"] {
  background-color: var(--indigo-500);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.7);
}

#setup input[type="text"]:hover,
#setup input[type="text"]:focus {
  box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
  filter: brightness(105%);
}

#setup button {
  color: var(--indigo-950);
  background-color: var(--amber-400);
}

#setup span {
  border-radius: 12px;
  padding: var(--gap-200);
}

#setup span:hover {
  background-color: var(--indigo-900);
  box-shadow: 0 2px 5px rgba(0,0,0,0.7);
  cursor: pointer;
}

#setup svg {
  width: 4.5rem;
}


/* game over banner */

#game-over {
  background-color: var(--indigo-925);
  box-shadow:
    0 0 0 100vh rgba(0,0,0,0.3),
    0 0 min(15px, 3.5vw) rgba(0,0,0,0.7);
  padding: var(--gap-700);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: grid;
  gap: var(--gap-300);
  place-items: center;
}

#game-over > div {
  display: flex;
  gap: var(--gap-400);
}

#game-over button {
  margin-top: var(--gap-200);
}

#game-over #play-again {
  background-color: var(--amber-400);
}

#game-over #quit {
  background-color: var(--indigo-400);
}